.actors {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
}

.actorsPhoto {
    width: 100px;
}

.actorsName {
    font-size: 16px;
}

.actorsItem {
    width: 120px;
}